@import "variables";
@import "mixins";

.comments {
    width: 100%;
    .comments-container {
        width: 1300px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        .comments-block {
            display: grid;
            grid-template-columns: 1fr 4fr;
            .comments-block-left {
                display: grid;
                grid-template-rows: 300px 40px 40px;
                .comments-block-left__image {
                    transform: scale(0.5);
                    border-radius: 50%;
                }
                .comments-block-left__name {
                    font-family: $main-text-font;
                    color: $main-text-color;
                    font-weight: 100;
                    font-size: 30px;
                    text-align: center;
                }
                .comments-block-left__job-title {
                    font-family: $main-text-font;
                    color: $secondary-text-color;
                    font-weight: 100;
                    font-size: 25px;
                    text-align: center;
                }
            }
            .comments-block-right {
                font-family: $main-text-font;
                color: $main-text-color;
                font-size: 42px;
                font-weight: 100;
                text-align: center;
                display: flex;
                align-items: center;
                .comments-block-right__quote {
                    color: $secondary-text-color;
                }
            }
        }
        .comments-arrows {
            display: inline-flex;
            justify-content: center;
            margin-top: 100px;
            .comments-arrow-left {
                @include comments-arrow-left-options;
            }
            .comments-arrow-left:hover {
                cursor: pointer;
            }
            .comments-arrow-right {
                @include comments-arrow-right-options;
            }
            .comments-arrow-right:hover {
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .comments .comments-container {
        width: 95%;
    }
}
@media screen and (max-width: 800px) {
    .comments .comments-container .comments-block {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
    .comments .comments-container .comments-arrows {
        margin-top: 0;
    }
    .comments .comments-container .comments-block .comments-block-left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .comments .comments-container .comments-block .comments-block-left .comments-block-left__image {
        width: 150px;
        height: 150px;
        transform: none;
    }
    .comments .comments-container .comments-block .comments-block-right {
        font-size: 32px;
    }
}
@media screen and (max-width: 400px) {
    .comments .comments-container .comments-block .comments-block-right {
        font-size: 25px;
    }
}