@import "variables";
@import "mixins";

.cool-ads {
    width: 100%;
    .cool-ads-container {
        width: 1300px;
        margin: 0 auto;
        .cool-ads-block-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            .cool-ads-block-header__image {
                width: 600px;
                height: 500px;
            }
            .cool-ads-block-header__main-title {
                @include main-title;
            }
            .cool-ads-block-header__secondary-title {
                @include secondary-title;
            }
        }
        .cool-ads-block-content {
            @include grid-cool-ads-block-content-options;
            @include cool-ads-column-options;
            .cool-ads-column__image {
                width: 200px;
                height: 130px;
            }
            .cool-ads-column__title {
                font-family: $main-text-font;
                color: $main-text-color;
                font-size: 27px;
                font-weight: 100;
            }
            .cool-ads-column__text {
                font-family: $main-text-font;
                color: $main-text-color;
                font-size: $main-font-size;
                font-weight: 100;
                word-spacing: 5px;
                line-height: 1.5;
            }
            .cool-ads-column-list {
                font-family: $main-text-font;
                color: $secondary-text-color;
                font-size: 16px;
                font-weight: 100;
                .cool-ads-column-list__content {
                    margin-bottom: 15px;
                }
                .cool-ads-column-list__secondary-color {
                    color: $main-text-color;
                }
            }
            .cool-ads-column__navigation {
                font-family: $main-text-font;
                color: $secondary-text-color;
                font-size: $main-font-size;
                margin: 40px 0 0 20px;   
            }
            .cool-ads-column__navigation:hover {
                @include problems-block-navigation-hover-options;
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .cool-ads .cool-ads-container {
        width: 95%;
    }
}
@media screen and (max-width: 940px) {
    .cool-ads .cool-ads-container .cool-ads-block-header .cool-ads-block-header__secondary-title {
        font-size: 30px;
    }
    .cool-ads .cool-ads-container .cool-ads-block-header .cool-ads-block-header__image {
        width: 400px;
        height: 300px;
    }
    .cool-ads .cool-ads-container .cool-ads-block-content {
        grid-template-columns: 30px 1fr 1fr 30px;
        grid-template-rows: repeat(3, 1fr);
    }
    .cool-ads .cool-ads-container .cool-ads-block-content .cool-ads-column-first {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .cool-ads .cool-ads-container .cool-ads-block-content .cool-ads-column-second {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    .cool-ads .cool-ads-container .cool-ads-block-content .cool-ads-column-third {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .cool-ads .cool-ads-container .cool-ads-block-content .cool-ads-column-fourth {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
    .cool-ads .cool-ads-container .cool-ads-block-content .cool-ads-column-fifth {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
}
@media screen and (max-width: 750px) {
    .cool-ads .cool-ads-container .cool-ads-block-header .cool-ads-block-header__secondary-title {
        font-size: 25px;
    }
    .cool-ads .cool-ads-container .cool-ads-block-header .cool-ads-block-header__main-title {
        font-size: 15px;
    }
    .cool-ads .cool-ads-container .cool-ads-block-content .cool-ads-column__title {
        font-size: 15px;
    }
    .cool-ads .cool-ads-container .cool-ads-block-content .cool-ads-column__text {
        font-size: 12px;
    }
    .cool-ads .cool-ads-container .cool-ads-block-content .cool-ads-column-list__content {
        font-size: 12px;
    }
    .cool-ads .cool-ads-container .cool-ads-block-content .cool-ads-column__navigation {
        font-size: 15px;
    }
    .cool-ads .cool-ads-container .cool-ads-block-content .cool-ads-block-header__image {
        width: 150px;
        height: 100px;
    }
}
@media screen and (max-width: 640px) {
    .cool-ads .cool-ads-container .cool-ads-block-content {
        display: flex;
        flex-direction: column;
        padding: 30px;
    }
    .cool-ads .cool-ads-container .cool-ads-block-content .cool-ads-column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cool-ads .cool-ads-container .cool-ads-block-header .cool-ads-block-header__image {
        width: 250px;
        height: 150px;
    }
    .cool-ads .cool-ads-container .cool-ads-block-header .cool-ads-block-header__secondary-title {
        font-size: 20px;
    }
    .cool-ads .cool-ads-container .cool-ads-block-header .cool-ads-block-header__main-title {
        font-size: 12px;
    }
}