@import "variables";
@import "mixins";

.grids {
    width: 100%;
    .grids-container {
        width: 1300px;
        margin: 0 auto;
        .grids-top__title {
            @include main-title;
            text-align: center;
        }
        .grids-top__main-title {
            @include secondary-title;
            text-align: center;
            margin-bottom: 70px;
        }
        .grids-bottom {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(4, 1fr);
        }
    }
}

@include grids-section-adaptive;