@import "variables";
@import "mixins";

.leadership {
    width: 100%;
    margin-top: 50px;
    .leadership-container {
        width: 1300px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        .leadership-block-top {
            margin-bottom: 100px;
            .leadership-block-top__main-title {
                @include main-title;
                text-align: center;
            }
            .leadership-block-top__secondary-title {
                @include secondary-title;
                text-align: center;
            }
        }
        .leadership-block-content {
            position: relative;
            @include grid-options;
            .leadership-column {
                display: flex;
                flex-direction: column;
                .leadership-column__square {
                    @include leadership-column__square;
                }
                .leadership-column__image {
                    position: absolute;
                    width: 290px;
                    height: 490px;
                    bottom: 266px;
                }
                .leadership-column__name {
                    font-family: $main-text-font;
                    color: $main-text-color;
                    font-size: 60px;
                    font-weight: 300;
                    transform: skewY(-5deg);
                }
                .leadership-column__navigation {
                    font-family: $main-text-font;
                    color: $secondary-text-color;
                    font-size: $main-font-size;
                    font-weight: 500;
                    text-align: center;
                }
                .leadership-column__navigation:hover {
                    @include problems-block-navigation-hover-options;
                }
            }
            .leadership-column-left {
            grid-column: 2 / 3;
            }
            .leadership-column-middle {
            grid-column: 3 / 4;
            }
            .leadership-column-right {
            grid-column: 4 / 5;
            }
        }
    }
}