@import "variables";
@import "mixins";
@import "keyframes";

.main-title {
    width: 100%;
    margin-top: 50px;
    .main-title-container {
        width: 1300px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .main-title-block-left {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .main-title-block-left__video {
                transform: skewY(-10deg);
                border-radius: 5px;
            }
        }
        .main-title-block-right {
            .main-title-block-right__top {
                font-family: $main-text-font;
                font-size: $main-title-font-size-top;
                color: $secondary-text-color;
                font-weight: $main-title-font-weight-top;
            }
            .main-title-block-right__bottom {
                font-family: $main-text-font;
                font-size: $main-title-font-size-bottom;
                color: $main-text-color;
                font-weight: $main-title-font-weight-bottom;
                @include main-title-bottom-options;
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .main-title .main-title-container {
        display: none;
    }
}