@import "variables";
@import "mixins";

.marketing {
    width: 100%;
    margin-top: 50px;
    .marketing-container {
        width: 1300px;
        margin: 0 auto;
    }
    .marketing-block-top__title {
        @include main-title;
        text-align: center;
    }
    .marketing-block-top__main-title {
        @include secondary-title;
        text-align: center;
        margin-bottom: 70px;
    }
    .marketing-block-middle {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        .marketing-info {
            position: relative;
            .marketing-info__square-left {
                @include marketing-info-square-options;
                background-color: rgb(72, 112, 210);
                z-index: -1;
            }
            .marketing-info__square-middle {
                @include marketing-info-square-options;
                background-color: black;
                z-index: -1;
            }
            .marketing-info__square-right {
                @include marketing-info-square-options;
                background-color: rgb(93, 131, 162);
                z-index: -1;
            }
            .marketing-block-middle__image {
                position: absolute;
                width: 350px;
                height: 250px;
                left: 50px;
                bottom: 362px;
            }
            .marketing-info__number {
                font-family: $main-text-font;
                font-size: 60px;
                font-weight: 800;
                -webkit-text-stroke: 1px #de193a;
                -webkit-text-fill-color: transparent;
                text-align: center;
            }
            .marketing-info__title {
                @include secondary-title;
                text-align: center;
            }
            .marketing-info__view {
                font-family: $main-text-font;
                color: $secondary-text-color;
                font-size: $main-font-size;
                text-align: center;
            }
            .marketing-info__view:hover {
                @include problems-block-navigation-hover-options;
            }
        }
    }
    .marketing-block-bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 150px;
        .marketing-block-bottom__button {
            font-family: $main-text-font;
            color: $secondary-text-color;
            font-size: $main-font-size;
            font-weight: $button-font-weight;
            border: $button-border;
            border-radius: 10px;
            background: none;
            margin: 0 auto;
            padding: 15px;
        }
        .marketing-block-bottom__button:hover {
            @include button-hover;
        }
    }
}