@import "keyframes";

@mixin navigation-hover {
    cursor: pointer;
    color: #abb8c3;
    transition: 0.4s;
}
@mixin button-hover {
    cursor: pointer;
    text-decoration: underline;
    color: white;
    background-color: #de193a;
    transition: 0.4s;
}
@mixin main-title-bottom-options {
    position: relative;
    transform: skewY(-10deg);
    bottom: 140px;
}
@mixin problems-block-comment-options {
    color: #f5f5f5;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}
@mixin problems-block-text-options {
    color: #FFFFFF; 
    font-family: Lato, sans-serif;
    font-weight: 100;
    font-size: 18px;
    word-spacing: 5px;
    line-height: 1.5;
}
@mixin problems-block-navigation-options {
    font-family: Lato, sans-serif;
    color: #de193a;
    font-weight: 500;
    padding: 10px 0 30px 0;
}
@mixin problems-block-navigation-hover-options {
    cursor: pointer;
    text-decoration: underline;
}
@mixin marketing-info-square-options {
    position: relative;
    width: 250px;
    height: 260px;
    margin: 0 auto;
    transform: skew(-10deg);
}
@mixin comments-arrow-left-options {
    width: 50px;
    height: 50px;
    border: 4px solid white;
    transform: rotate(45deg);
    border-top: none;
    border-right: none;
}
@mixin comments-arrow-right-options {
    width: 50px;
    height: 50px;
    border: 4px solid white;
    transform: rotate(-135deg);
    border-top: none;
    border-right: none;
}
@mixin grid-options {
    display: grid;
    grid-template-columns: 80px repeat(3, 1fr) 80px;
    gap: 20px;
}
@mixin main-title {
    font-family: $main-text-font;
    color: $secondary-text-color;
    font-size: $main-font-size;
    font-weight: 600;
}
@mixin secondary-title {
    font-family: $main-text-font;
    color: $main-text-color;
    font-size: 37px;
    font-weight: 100;
}
@mixin leadership-column__square {
    position: relative;
    width: 250px;
    height: 450px;
    margin: 0 auto;
    transform: skew(-10deg);
    background-color: #de193a;
    z-index: -1;
}
@mixin grid-cool-ads-block-content-options {
    display: grid;
    grid-template-columns: 30px repeat(3, 1fr) 30px;
    grid-template-rows: 30px repeat(2, 1fr) 30px;
    gap: 40px;
}
@mixin cool-ads-column-options {
    .cool-ads-column-first {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .cool-ads-column-second {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
    .cool-ads-column-third {
        grid-column: 4 / 5;
        grid-row: 2 / 3;
    }
    .cool-ads-column-fourth {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    .cool-ads-column-fifth {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }
    .cool-ads-column-sixth {
        grid-column: 4 / 5;
        grid-row: 3 / 4;
    }
}
@mixin blog-column-options {
    .blog-column-left {
        grid-column: 2 / 3;
    }
    .blog-column-middle {
        grid-column: 3 / 4;
    }
    .blog-column-right {
        grid-column: 4 / 5;
    }
}
@mixin header-section-adaptive {
    @media screen and (max-width: 1300px) {
        .header .header-container {
            width: 95%;
        }
    }
    @media screen and (max-width: 900px) {
        .header .header-container .header-block-left .header-block-left__image {
            width: 150px;
            height: 35px;
        }
        .header .header-container .header-block-right .header-block-right__navigation {
            font-size: 15px;
        }
    }
    @media screen and (max-width: 780px) {
        .header .header-container .header-block-right {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
        .header .header-container .header-block-right .header-block-right__button {
            grid-column: 4 / 5;
            grid-row: 1 / 2;
        }
    }
    @media screen and (max-width: 550px) {
        .header .header-container .header-block-right {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .header .header-container .header-block-right .header-block-right__navigation {
            display: none;
        }
        .header .header-container .header-block-right .header-block-right__button {
            display: none;
        }
        .header .header-container .header-block-right .header-block-right__hamburger {
            display: block;
            width: 50px;
        }
    }
}
@mixin main-title-section-adaptive {
    @media screen and (max-width: 1300px) {
        .main-title .main-title-container {
            width: 95%;
        }
        .main-title .main-title-container .main-title-block-left .main-title-block-left__video {
            width: 450px;
            height: 325px;
        }
        .main-title .main-title-container .main-title-block-right .main-title-block-right__top {
            font-size: 35px;
        }
        .main-title .main-title-container .main-title-block-right .main-title-block-right__bottom {
            font-size: 120px;
        }
    }
    @media screen and (max-width: 1010px) {
        .main-title .main-title-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .main-title .main-title-container .main-title-block-right {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .main-title .main-title-container .main-title-block-right .main-title-block-right__top {
            text-align: center;
        }
        .main-title .main-title-container .main-title-block-right .main-title-block-right__bottom {
            text-align: center;
        }
        .main-title .main-title-container .main-title-block-left .main-title-block-left__video {
            width: 500px;
            height: 350px;
        }
    }
    @media screen and (max-width: 560px) {
        .main-title .main-title-container .main-title-block-right .main-title-block-right__top {
            font-size: 27px;
        }
        .main-title .main-title-container .main-title-block-right .main-title-block-right__bottom {
            font-size: 90px;
        }
        .main-title .main-title-container .main-title-block-left .main-title-block-left__video {
            width: 300px;
            height: 200px;
        }
    }
    @media screen and (max-width: 390px) {
        .main-title .main-title-container .main-title-block-right .main-title-block-right__bottom {
            font-size: 65px;
        }
        .main-title .main-title-container .main-title-block-left .main-title-block-left__video {
            width: 250px;
            height: 175px;
        }
    }
}
@mixin problems-section-adaptive {
    @media screen and (max-width: 1300px) {
        .problems .problems-container {
            width: 95%;
        }
    }
    @media screen and (max-width: 900px) {
        .problems .problems-container .problems-content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .problems .problems-container .problems-content .problems-block__navigation {
            text-align: center;
        }
    }
    @media screen and (max-width: 500px) {
        .problems .problems-container .problems-header .problems-header__comment {
            font-size: 30px;
        }
        .problems .problems-container .problems-content .problems-block__comment {
            font-size: 18px;
        }
        .problems .problems-container .problems-content .problems-block__text {
            font-size: 15px;
        }
    }
}
@mixin grids-section-adaptive {
    @media screen and (max-width: 1300px) {
        .grids .grids-container {
            width: 95%;
        }
    }
    @media screen and (max-width: 700px) {
        .grids .grids-container .grids-bottom {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(10, 1fr); 
        }
        .grids .grids-container .grids-top__main-title {
            font-size: 25px;
            margin-bottom: 30px;
        }
        .grids .grids-container .grids-top__title {
            font-size: 16px;
        }
    }
    @media screen and (max-width: 500px) {
        .grids .grids-container .grids-top__main-title {
            font-size: 18px;
            margin-bottom: 10px;
        }
        .grids .grids-container .grids-top__title {
            font-size: 14px;
        }
    }
}
@mixin comments-section-adaptive {
    @media screen and (max-width: 1300px) {
        .comments .comments-container {
            width: 95%;
        }
    }
    @media screen and (max-width: 800px) {
        .comments .comments-container .comments-block {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
        }
        .comments .comments-container .comments-arrows {
            margin-top: 0;
        }
        .comments .comments-container .comments-block .comments-block-left {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .comments .comments-container .comments-block .comments-block-left .comments-block-left__image {
            width: 150px;
            height: 150px;
            transform: none;
        }
        .comments .comments-container .comments-block .comments-block-right {
            font-size: 32px;
        }
    }
    @media screen and (max-width: 400px) {
        .comments .comments-container .comments-block .comments-block-right {
            font-size: 25px;
        }
    }
}
@mixin about-us-section-adaptive {
    @media screen and (max-width: 1300px) {
        .about-us .about-us-container {
            width: 95%;
        }
    }
    @media screen and (max-width: 1100px) {
        .about-us .about-us-container .about-us-block-right {
            padding: 0;
        }
        .about-us .about-us-container .about-us-block-right .about-us-block-right__main-title {
            text-align: center;
        }
        .about-us .about-us-container {
            grid-template-columns: 1fr;
            grid-template-rows: 0.5fr 1fr;
        }
        .about-us .about-us-container .about-us-block-left {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .about-us .about-us-container .about-us-block-left .about-us-block-left__image {
            width: 500px;
            height: 500px;
        }
    }
    @media screen and (max-width: 570px) {
        .about-us .about-us-container .about-us-block-left .about-us-block-left__image {
            width: 300px;
            height: 300px;
        }
        .about-us .about-us-container .about-us-block-right .about-us-block-right__main-title {
            font-size: 15px;
        }
        .about-us .about-us-container .about-us-block-right .about-us-block-right__secondary-title {
            font-size: 25px;
        }
        .about-us .about-us-container .about-us-block-right .about-us-block-right__text {
            font-size: 15px;
        }
        .about-us .about-us-container .about-us-block-right .about-us-block-right__navigation {
            font-size: 15px;
        }
    }
    @media screen and (max-width: 350px) {
        .about-us .about-us-container .about-us-block-left .about-us-block-left__image {
            width: 200px;
            height: 200px;
        }
        .about-us .about-us-container .about-us-block-right .about-us-block-right__main-title {
            font-size: 12px;
        }
        .about-us .about-us-container .about-us-block-right .about-us-block-right__secondary-title {
            font-size: 20px;
        }
        .about-us .about-us-container .about-us-block-right .about-us-block-right__text {
            font-size: 12px;
        }
        .about-us .about-us-container .about-us-block-right .about-us-block-right__navigation {
            font-size: 12px;
        }
    }
}
@mixin engagement-section-adaptive {
    @media screen and (max-width: 1300px) {
        .engagement .engagement-container {
            width: 95%;
        }
    }
    @media screen and (max-width: 800px) {
        .engagement .engagement-container .engagement-block-middle {
            display: flex;
            flex-direction: column;
        }
        .engagement .engagement-container .engagement-block-middle .engagement-column {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 80px;
        }
    }
    @media screen and (max-width: 500px) {
        .engagement .engagement-container .engagement-block-top {
            margin-bottom: 10px;
        }
        .engagement .engagement-container .engagement-block-top .engagement-block-top__main-title {
            font-size: 15px;
        }
        .engagement .engagement-container .engagement-block-top .engagement-block-top__secondary-title {
            font-size: 25px;
        }
        .engagement .engagement-container .engagement-block-middle .engagement-column {
            padding: 30px;
        }
        .engagement .engagement-container .engagement-block-middle .engagement-column .engagement-column__title {
            font-size: 23px;
        }
        .engagement .engagement-container .engagement-block-middle .engagement-column .engagement-column__text {
            font-size: 15px;
        }
        .engagement .engagement-container .engagement-block-middle .engagement-column .engagement-column__navigation {
            font-size: 15px;
        }
    }
}
@mixin video-section-adaptive {
    @media screen and (max-width: 1300px) {
        .video .video-container {
            width: 95%;
        }
    }
    @media screen and (max-width: 900px) {
        .video .video-container .video-block-header .video-block-header__secondary-title {
            padding: 0 50px 0 50px;
            font-size: 30px;
        }
        .video .video-container .video-block-header .video-block-header__main-title {
            font-size: 15px;
        }
        .video .video-container .video-block-content .video-block-content__source {
            height: 500px;
        }
    }
    @media screen and (max-width: 500px) {
        .video .video-container .video-block-header .video-block-header__secondary-title {
        padding: 0 20px 0 20px;
        font-size: 25px;
        }
        .video .video-container .video-block-content .video-block-content__source {
            height: 300px;
        }
        .video .video-container .video-block-content .video-block-content__title {
            font-size: 15px;
        }
    }
}
@mixin cool-ads-section-adaptive {
    @media screen and (max-width: 1300px) {
        .cool-ads .cool-ads-container {
            width: 95%;
        }
    }
    @media screen and (max-width: 940px) {
        .cool-ads .cool-ads-container .cool-ads-block-header .cool-ads-block-header__secondary-title {
            font-size: 30px;
        }
        .cool-ads .cool-ads-container .cool-ads-block-header .cool-ads-block-header__image {
            width: 400px;
            height: 300px;
        }
        .cool-ads .cool-ads-container .cool-ads-block-content {
            grid-template-columns: 30px 1fr 1fr 30px;
            grid-template-rows: repeat(3, 1fr);
        }
        .cool-ads .cool-ads-container .cool-ads-block-content .cool-ads-column-first {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
        .cool-ads .cool-ads-container .cool-ads-block-content .cool-ads-column-second {
            grid-column: 3 / 4;
            grid-row: 1 / 2;
        }
        .cool-ads .cool-ads-container .cool-ads-block-content .cool-ads-column-third {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
        .cool-ads .cool-ads-container .cool-ads-block-content .cool-ads-column-fourth {
            grid-column: 3 / 4;
            grid-row: 2 / 3;
        }
        .cool-ads .cool-ads-container .cool-ads-block-content .cool-ads-column-fifth {
            grid-column: 2 / 3;
            grid-row: 3 / 4;
        }
    }
    @media screen and (max-width: 750px) {
        .cool-ads .cool-ads-container .cool-ads-block-header .cool-ads-block-header__secondary-title {
            font-size: 25px;
        }
        .cool-ads .cool-ads-container .cool-ads-block-header .cool-ads-block-header__main-title {
            font-size: 15px;
        }
        .cool-ads .cool-ads-container .cool-ads-block-content .cool-ads-column__title {
            font-size: 15px;
        }
        .cool-ads .cool-ads-container .cool-ads-block-content .cool-ads-column__text {
            font-size: 12px;
        }
        .cool-ads .cool-ads-container .cool-ads-block-content .cool-ads-column-list__content {
            font-size: 12px;
        }
        .cool-ads .cool-ads-container .cool-ads-block-content .cool-ads-column__navigation {
            font-size: 15px;
        }
        .cool-ads .cool-ads-container .cool-ads-block-content .cool-ads-block-header__image {
            width: 150px;
            height: 100px;
        }
    }
    @media screen and (max-width: 640px) {
        .cool-ads .cool-ads-container .cool-ads-block-content {
            display: flex;
            flex-direction: column;
            padding: 30px;
        }
        .cool-ads .cool-ads-container .cool-ads-block-content .cool-ads-column {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .cool-ads .cool-ads-container .cool-ads-block-header .cool-ads-block-header__image {
            width: 250px;
            height: 150px;
        }
        .cool-ads .cool-ads-container .cool-ads-block-header .cool-ads-block-header__secondary-title {
            font-size: 20px;
        }
        .cool-ads .cool-ads-container .cool-ads-block-header .cool-ads-block-header__main-title {
            font-size: 12px;
        }
    }
}
@mixin blog-section-adaptive {
    @media screen and (max-width: 1300px) {
        .blog .blog-container {
            width: 95%;
        }
        .blog .blog-container .blog-block-content {
            grid-template-columns: 10px repeat(3, 1fr) 10px;
        }
    }
    @media screen and (max-width: 1100px) {
        .blog .blog-container .blog-block-content {
            grid-template-columns: 80px 1fr 80px;
            grid-template-rows: repeat(3, 1fr);
        }
        .blog .blog-container .blog-block-content .blog-column-left {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
        .blog .blog-container .blog-block-content .blog-column-middle {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
        .blog .blog-container .blog-block-content .blog-column-right {
            grid-column: 2 / 3;
            grid-row: 3 / 4;
        }
        .blog .blog-container .blog-block-content .blog-column {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    @media screen and (max-width: 700px) {
        .blog .blog-container .blog-block-header .blog-block-header__main-title {
            font-size: 15px;
        }
        .blog .blog-container .blog-block-header .blog-block-header__secondary-title {
            font-size: 20px;
            padding: 0 30px 0 30px;
        }
        .blog .blog-container .blog-block-content {
            grid-template-columns: 30px 1fr 30px;
        }
        .blog .blog-container .blog-block-content .blog-column .blog-column__image {
            width: 250px;
            height: 150px;
        }
        .blog .blog-container .blog-block-content .blog-column .blog-column__title {
            font-size: 20px;
        }
        .blog .blog-container .blog-block-content .blog-column .blog-column__text {
            font-size: 15px;
        }
        .blog .blog-container .blog-block-content .blog-column .blog-column__navigation {
            font-size: 15px;
        }
    }
    @media screen and (max-width: 400px)  {
        .blog .blog-container .blog-block-content {
            grid-template-columns: 5px 1fr 5px;
        }
        .blog .blog-container .blog-block-content .blog-column .blog-column__image {
            width: 200px;
            height: 120px;
        }
    }
}
@mixin footer-section-adaptive {
    @media screen and (max-width: 1300px) {
        .footer .footer-container {
            width: 95%;
        }
    }
    @media screen and (max-width: 650px) {
        .footer .footer-container .footer-block-top {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .footer .footer-container .footer-block-bottom .footer-block-bottom__image {
            width: 300px;
            height: 350px;
        }
    }
    @media screen and (max-width: 400px) {
        .footer .footer-container .footer-block-right .footer-links {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .footer .footer-container .footer-block-bottom .footer-block-bottom__image {
            width: 220px;
            height: 250px;
        }
    }
}