$main-text-color: #FFFFFF; 
$main-text-font: Lato, sans-serif;
$main-font-size: 18px;

$secondary-text-color: #de193a;

$navigation-font-weight: 500;

$button-font-weight: 500;
$button-border: 2px solid #de193a;

$main-title-font-size-top: 40px;
$main-title-font-weight-top: 700;

$main-title-font-size-bottom: 140px;
$main-title-font-weight-bottom: 700;